.contact
  display: grid
  grid-template-columns: 1fr
  +for-tablet-landscape-up
    grid-template-columns: 1fr 1fr
  &__form
    &__form
      margin: 1rem
      padding: 1rem
      background-color: #D46AF4
      h3
        margin-block-start: 0